body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

#month-options li {
    direction: rtl;
    text-align: right;
    padding: 5px;

}

.calendar {
    max-width: 400px;
    margin: 50px auto;
    background: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    direction: rtl;
}

.calendar .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}

.calendar .header button {
    background: none;
    border: none;
    cursor: pointer;
    color: #007BFF;
    font-size: 16px;
}

.calendar .sub-header {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    font-size: 14px;
    text-align: center;
}

.calendar thead th {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.calendar tbody td {
    width: 14.28%; /* Each day occupies 1/7th of the width */
    height: 50px;  /* Fixed height for cells */
    text-align: center;
    vertical-align: middle; /* Center content vertically */
    border: 1px solid #eee;
    padding: 3px;
}

.calendar tbody td.inactive {
    color: #ccc;
}

.calendar tbody td.today .jday {
    background-color: #ff9999;
    /* border-style: solid; */
    color: white;
    border-radius: 8px;
    font-weight: bold;
}

.calendar td div {
    text-align: center;
    line-height: 1.5;
}

.calendar table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.gday {
    display: inline;
    float: right;
    font-size: 0.8em;
    color: #555;
}

.hday {
    display: inline;
    float: left;
    font-size: 0.8em;
    color: #555;
}

.jday {
    font-weight: bold;
}

.holiday {
    background-color: #ffcccc;
}

.inactive .hday, .inactive .gday {
    color: #ccc;
}

#go-to-today {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
}

#monasebat-container {
    max-width: 400px;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    direction: rtl;
}

#monasebat-container .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}

.monasebat {
    background: white;
    border: 1px solid #ccc;
}

.monasebat h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}

.monasebat-date {
    font-weight: bold;
    background-color: #007BFF;
    align-content: baseline;
    border-color: white;
    border-width: 1px;
    border-radius: 5px;
    color: white;
    padding: 5px;
    text-align: center;
}

.monasebat-text {
    padding: 5px;
    border-color: #dddddd;
    border-width: 1px;
}

#calendar-monasebat-container {
    width: 810px;
    margin: auto;
}

#calendar-container {
    float: right;
}

#monasebat-container {
    float: left;
}

.column {
    /* display: inline; */
}

@media screen and (max-width: 810px) {
    .column {
        /* display: block; */
    }


    #calendar-container {
        float: none;
    }

    #monasebat-container {
        float: none;
    }

    #calendar-monasebat-container {
        width: 100%;
    }

}
  
